p {
  margin: 0px;
}
.wrapper-shipments {
  padding: 10px;
  .container {
    background-color: #ffffff;
    padding: 10px;
  }
  .column-header{
    background-color: #e1e8f2;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      padding: 5px;
      border-right: 1px solid rgb(200, 200, 200);
    }

  }
  .search-results-shipment {
    background-color: #e1e8f2;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      padding: 5px;
      border-right: 1px solid rgb(200, 200, 200);
    }
    &:hover {
      background-color: #ffffff;
    }
  }
  .shipment-details {
    flex: 0 1 5%;
  }
  .shipment-id {
    flex: 0 1 5%;
  }
  .shipment-pickup-prefecture {
    flex: 0 1 10%;
  }
  .shipment-pickup-addess {
    flex: 0 1 10%;
  }
  .shipment-delivery-prefecture {
    flex: 0 1 10%;
  }
  .shipment-delivery-addess {
    flex: 0 1 10%;
  }
  .shipment-distance {
    flex: 0 1 10%;
  }
  .shipment-rate {
    flex: 0 1 10%;
  }
  .shipment-car-type {
    flex: 0 1 10%;
    overflow: hidden;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .shipper-email {
    flex: 0 1 20%;
    overflow: hidden;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

