// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$color--gray-light: #cccccc;
$color--gray: #777777;
$color--gray-dark: #333333;
$color--black: #111111;
$color--white: #FFFFFF;
$color--white--transparent: rgba(255,255,255,0.95);
$color__theme--main: #3573C3;
$color__theme--sub: #FFB234;
$color__theme--accent: #EE86A8;