// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:800i");

// Define fonts for body and headers
$font__header: 'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', verdana, 'ＭＳ Ｐゴシック',  sans-serif;
$font__body: 'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', verdana, 'ＭＳ Ｐゴシック',  sans-serif;
$font__brand: 'Raleway', "Open Sans", "Helvetica Neue",  sans-serif;
$font__h1: 2.8rem; // BANNER
$font__h2: 2.1rem; // PAGE HEADER
$font__h3: 1.6rem; // PAGE SUB HEADER & FORM HEADER
$font__h4: 1.6rem; // CONTENT HEADER
$font__p: 1.6rem;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
body {
  font-size: $font__p;
}
h1, h2, h3, h4, h5, h6, p, a {
  line-height: 135%;
}
h1, h2, h3, h4, h5, h6 {
  color: $color--main;
  font-family: $font__header;
  font-weight: normal;
}
h1 {
  font-size: $font__h1;
}
h2 {
  font-size: $font__h2;
}
h3 {
  font-size: $font__h3;
}
h4 {
  color: $color--black;
  font-size: $font__h4;
  // font-weight: bold;
}
h5, h6 {
  font-size: $font__p;
  // font-weight: bold;
}
p, a {
  color: inherit;
  font-family: $font__body;
}
p {
  font-size: $font__p;
}
a {
  font-size: inherit;
  &:visited, &:focus, &:active {
    outline: none;
    text-decoration: none;
  }
}