// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";
$font__header: 'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', verdana, 'ＭＳ Ｐゴシック',  sans-serif;
$font__body: 'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', verdana, 'ＭＳ Ｐゴシック',  sans-serif;
$font__brand: 'Raleway', "Open Sans", "Helvetica Neue",  sans-serif;
$font__h1: 4rem;
$font__h2: 2.2rem;
$font__h3: 1.6rem;
$font__h4: 1.6rem;
$font__p: 1.6rem;
$font__btn--lg: 2.0rem;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, h3, h4, h5, h6 {
  color: $color__theme--main;
  font-family: $font__header;
  font-weight: normal;
}
h1 {
  font-size: $font__h1;
}
h2 {
  font-size: $font__h2;
  line-height: 1.5;
}
h3 {
  font-size: $font__h3;
}
h4 {
  color: $color--black;
  font-size: $font__h4;
  font-weight: bold;
}
h5, h6 {
  font-size: $font__p;
  font-weight: bold;
}
p, ul.points li {
  font-size: $font__p;
  font-weight: normal;
  line-height: 1.65;
  text-align: left;
}
ul.points {
  padding-left: 2.8rem;
  li {
    font-weight: bold;
    line-height: 1.65;
    text-indent: -2.8rem;
    .checkmark {
      font-family: unset;
      font-size: calc(#{$font__p * 1.2});
      line-height: 0;
    }
  }
}
a {
  font-size: $font__p;
  &:visited, &:focus, &:active {
    outline: none;
    text-decoration: none;
  }
}
p, a {
  color: $color--black;
  font-family: $font__body;
}
.bold {
  font-weight: bolder;
}
.behead {
  font-size: $font__p;
}
.color__sub {
    color: $color__theme--sub;
}

/*------------  md >= 992px (.container @ 970px)  ------------*/
@media (min-width: 992px) {
  h1 {
    font-size: calc(#{$font__h1} * 1.5);
  }
  h2 {
    font-size: calc(#{$font__h2} * 1.5);
    line-height: 1.5;
  }
  h3 {
    font-size: calc(#{$font__h3} * 1.125);
  }
  h4 {
    font-size: calc(#{$font__h4} * 1.125);
    // padding-bottom: calc(2.35rem * 1);
  }
  h5, h6 {
    font-size: calc(#{$font__p} * 1.125);
    font-weight: bold;
    padding-top: calc(#{$font__p} * 2);
  }
  p {
    font-size: calc(#{$font__p} * 1.125);
  }
  p, ul.points li  {
    font-size: calc(#{$font__p} * 1.125);
  }
  ul.points {
    li {
      text-indent: -3.1rem;
      .checkmark {
        font-size: calc(#{$font__p * 1.35});
      }
    }
  }
}
/*------------ } @media (min-width: 992px) ------------*/