$footer__height: 70px;
$navbar__height: 70px;
$spacer--xl: 120px;
$spacer--lg: 90px;
$spacer--md: 60px;
$spacer--sm: 30px;
$spacer--xs: 10px;
$transition--sm: 0.3s;
$transition--md: 0.6s;
$transition--lg: 1s;