$border-radius: 6px;
$box-shadow--default: 0 2px 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24), 0 2px 2px rgba(0,0,0,0.12);
$box-shadow--image: 0 0 2px rgba(0,0,0,0.36), 0 0 6px rgba(0,0,0,0.24);
// $box-shadow--hover: 0 6px 6px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.08);
$card-shadow--default: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24), 0 3px 3px rgba(0,0,0,0.12);
$card-shadow--hover: 0 2px 6px rgba(0,0,0,0.08), 0 2px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.08);
$footer__height: 70px;
$navbar__height: 44px;
$spacer--xl: 12rem;
$spacer--lg: 9rem;
$spacer--md: 6rem;
$spacer--sm: 3rem;
$spacer--xs: 1rem;
$transition--sm: 0.3s;
$transition--md: 0.6s;
$transition--lg: 1s;