#landing--initial {
  position: relative;
  &.fullscreen {
    padding: $spacer--xs $spacer--xs $spacer--md $spacer--xs;
  }
  #landing--navbar--collapse {
    box-shadow: $box-shadow--default;
  }
  .img__box--horizontal {
    margin: 0 auto;
    width: 75%;
    & svg {
      padding: 5px;
      width: 100%;
    }
  }
  .landing--center {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    padding: $spacer--lg 0 $spacer--sm 0;
    & div {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .img__box--horizontal {
      margin-bottom: $spacer--xs;
    }
  }
  .landing--navbar {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    ul.sub-list--child {
      padding: 0 30px;
      width: 100%;
      li {
        padding: 10px 0;
        &:first-child {
          // padding: 0 0 10px 0;
        }
      }
      a {
        color: $color--gray;
        &:hover {
          color: $color--gray-dark;
          text-decoration: none;
        }
      }
    }
    .nav > li {
      background-color: $color--white--transparent;
      &:last-child > a {
        padding: 15px 0 15px 15px;
      }
    }
    .navbar-brand {
      font-size: 3.2rem;
      padding: 15px 10px;
    }
    .navbar-toggle {
      border: 0;
      margin-right: 5px;
      &:active, &:focus {
        background-color: transparent;
      }
      &:hover {
        background-color: transparent;
      }
      &:hover .icon-bar {
        background-color: darken($color__theme--main, 10%);
      }
      & .icon-bar {
        background-color: $color__theme--main;
      }
    }
  }
}

#landing--description {
  .description__image-box {
    flex-grow: 1;
    margin: $spacer--sm 0;
    min-height: 260px;
    overflow: hidden;
    position: relative;
    width: 100vw;
    & svg {
      position:absolute;
      width: 18%;
      min-width: 54px;
      max-width: 80px;
      & path {
        fill: $color__theme--main;
        &.c {
          fill: $color--white;
        }
      }
    }
    @keyframes flicker-one {
      0.00% { fill: $color__theme--main } // OFF-END
      0.60% { fill: $color__theme--sub } // FLICKER-ON
      1.20% { fill: $color__theme--main } // FLICKER-OFF
      1.80% { fill: $color__theme--sub } // FLICKER-ON
      2.40% { fill: $color__theme--main } // FLICKER-OFF
      3.00% { fill: $color__theme--sub } // ON-START
      25.0% { fill: $color__theme--sub } // ON-END
      26.0% { fill: $color__theme--main } // OFF-START
      100% { fill: $color__theme--main } // OFF
    }
    $flicker-time: 16s;
    & .carrier_ {
      &01 {
        left: 21%;
        top: 18%;
        & path.a, & path.d {
          animation: $flicker-time linear 0s infinite flicker-one;
        }
      }
      &02 {
        left: 32%;
        top: 65%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .25}) infinite flicker-one;
        }
      }
      &03 { display: none; }
      &04 { display: none; }
      &05 { display: none; }
      &06 { display: none; }
      &07 {
        left: -04%;
        top: 00%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .75}) infinite flicker-one;
        }
      }
      &08 { left: 87%; top: 13%; }
      &09 {
        left: 60%;
        top: 70%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .5}) infinite flicker-one;
        }
      }
      &10 { display: none; }
    }
    & .shipper_ {
      &01 {
        left: 67%;
        top: 40%;
        & path.a, & path.d {
          animation: $flicker-time linear 0s infinite flicker-one;
        }
      }
      &02 {
        left: 54%;
        top: 02%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .25}) infinite flicker-one;
        }
      }
      &03 { display: none; }
      &04 { display: none; }
      &05 { left: 43%; top: 33%; }
      &06 { left: 92%; top: 50%; }
      &07 {
        left: 06%;
        top: 50%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .75}) infinite flicker-one;
        }
      }
      &08 { left: -06%; bottom: 01%; }
      &09 {
        left: 88%;
        bottom: 00%;
        & path.a, & path.d {
          animation: $flicker-time linear calc(#{$flicker-time * .5}) infinite flicker-one;
        }
      }
      &10 { display: none; }
    }
  }
}




/*------------  md >= 992px (.container @ 970px)  ------------*/
@media (min-width: 992px) {
  #landing--initial {
    &.fullscreen {
      padding: $spacer--md $spacer--lg $spacer--lg $spacer--lg;
    }
    #landing--navbar--collapse {
      box-shadow: none;
    }
    .img__box--horizontal {
      margin: unset;
      width: 100%;
      & svg {
        padding: 10px;
      }
    }
    .landing--center {
      flex-direction: unset;
      padding: $spacer--sm;
      width: 85%;
      & div {
        flex: 1 50%;
        padding: $spacer--sm;
      }
    }
    .landing--navbar {
      position: unset;
      li.sub-list--parent {
        position: relative;
        &:hover ul.sub-list--child {
          display: block;
        }
      }
      ul.sub-list--child {
        display: none;
        padding: 0 0 0 15px;
        position: absolute;
        &:hover {
          display: block;
        }
      }
      .navbar-brand {
        font-size: 4.8rem;
        padding: 15px 15px;
      }
    }
  }
  #landing--description {
    .description__image-box {
      & .carrier_ {
        &01 { left: 40%; top: 30%;
          & path { fill: $color__theme--sub; }
        }
        &02 { display: block; left: 42%; top: 80%; }
        &03 { display: block; left: 15%; top: 72%; }
        &04 { display: block; left: 88%; bottom: 00%; }
        &05 { left: 24%; top: 34%; }
        &06 { display: block; left: 02%; top: 00%; }
        &07 { left: 27%; top: 09%; }
        &08 { left: 72%; top: 10%; }
        &09 { left: 60%; top: 70%; }
        &10 { display: block; left: 96%; top: 15%; }
      }
      & .shipper_ {
        &01 { left: 74%; top: 70%;
          & path { fill: $color__theme--sub; }
        }
        &02 { left: 62%; top: 41%; }
        &03 { display: block; left: 49%; top: 52%; }
        &04 { display: block; left: 83%; top: 32%; }
        &05 { left: 30%; top: 59%; }
        &06 { left: 92%; top: 50%; }
        &07 { left: 06%; top: 50%; }
        &08 { left: -03%; bottom: 01%; }
        &09 { left: 54%; top: 02%; }
        &10 { display: block; left: 13%; top: 18%; }
      }
    }
  }
}
/*------------ } @media (min-width: 992px) ------------*/