#landingInitial {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: $spacer--xs $spacer--xs $spacer--xs $spacer--xs;
  max-width: 100vw;
  flex-direction: column;
  position: relative;
  #landing--navbar--collapse {
    box-shadow: $box-shadow--default;
  }
  .imgBox {
    margin: 0 auto;
    width: 75%;
    & svg {
      padding: 5px;
      width: 100%;
    }
  }
  .landingCenter {
    display: flex;
    flex-direction: column;
    padding-top: $navbar__height;
    p {
      width: initial;
    }
    h2 {
      margin-bottom: 1em;
    }
    ul.points li {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 3em;
      }
      h1 {
        font-size: 2.1rem;
        margin-bottom: 0;
      }
      i.fas {
        margin-right: 0.5em;
        line-height: inherit;
      }
      .landingContainer + .landingContainer {
        margin-left: $spacer--xl;
      }
    }
    .landingContainer {
      justify-content: center;
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
    }
  }
  .landing--navbar {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    ul.sub-list--child {
      padding: 0 30px;
      width: 100%;
      li {
        padding: 10px 0;
      }
      a {
        color: $color--gray;
        &:hover {
          color: $color--darkgray;
          text-decoration: none;
        }
      }
    }
    .nav > li {
      background-color: $color--white--transparent;
      &:last-child > a {
        padding: 15px 0 15px 15px;
      }
    }
    .navbar-brand {
      font-size: 3.2rem;
      padding: 15px 10px;
    }
    .navbar-toggle {
      border: 0;
      margin-right: 5px;
      &:active, &:focus {
        background-color: transparent;
      }
      &:hover {
        background-color: transparent;
      }
      &:hover .icon-bar {
        background-color: darken($color--main, 10%);
      }
      & .icon-bar {
        background-color: $color--main;
      }
    }
  }
}



@media (min-width: 992px) {
  #landingInitial {
    margin-top: -$navbar__height;
    padding: $spacer--md $spacer--lg $spacer--lg $spacer--lg;
    #landing--navbar--collapse {
      box-shadow: none;
    }
    .imgBox {
      margin: 0;
      width: 100%;
      & svg {
        padding: 10px;
      }
    }
    .landingCenter {
      flex-direction: row;
      padding-top: $navbar__height;
      flex: 1 0 auto;
      align-items: center;
      ul.points li {
        h1 {
          font-size: 2.8rem;
        }
      }
    }
    .landing--navbar {
      position: static;
      li.sub-list--parent {
        position: relative;
        &:hover ul.sub-list--child {
          display: block;
        }
      }
      ul.sub-list--child {
        display: none;
        padding: 0 0 0 15px;
        position: absolute;
        &:hover {
          display: block;
        }
      }
      .navbar-brand {
        font-size: 4.8rem;
        padding: 15px 15px;
      }
    }
    a[href="#landing--carrier"] {
      color: $color--white;
      background-color: $color--main;
      border-radius: 500px;
      font-weight: bolder;
      margin-top: 5px;
      margin-right: 10px;
      padding: 10px 25px;
      &:active {
        transform: translateY(2px);
      }
      &:hover {
        background-color: darken($color--main, 10%);
      }
    }
  }
}