// GENERAL
#landingDescriptionOne {
  max-width: 100vw;
  overflow: hidden;
  svg {
    width: 100%;
  }
  .row {
    max-width: 100vw;
    width: 100%;
    & + .row {
      margin: 6em 0 0 0;
    }
  }
}

// SVGs
#landingDescriptionOne {
  .descriptionImgContainer > div {
    opacity: 0;
    transform: translateY(100px);
    transition: $transition--lg ease-out;
  }
  .descriptionImgContainer.activated > div {
    opacity: 1;
    transform: translateY(0);
    &:nth-of-type(2) {
      transition-delay: 1.25s;
    }
    &:nth-of-type(3) {
      transition-delay: 2.5s;
    }
  }
}
