<% if @shipments.present? %>

  <section id="shipperDashboard" class="container-fluid shipper flexTop">
    <div class="dashboardHeader">
      <h2>管理画面</h2>
      <%= render 'shipper_shipments_nav_menu' %>
    </div>
    <%= render 'shipper_shipments_list' %>
  </section>

<% else %>

  <section id="shipperDashboard" class="container-fluid shipper">
    <div class="text-center">
        <h2>御見積もり依頼がありません</h2>
        <%= link_to "新しい運送案件を作成して見積もりを依頼しましょう！", new_shipment_path, class: "btn btnNull" %>
    </div>
  </section>

<% end %>