<div class="wrapper-shipper-shipments">
  <div class="container">
    <h2>(<%= @shipments.count %>) Post-Transit</h2>
    <%= render 'shipper_shipments_nav_menu' %>

    <% if @shipments.present? %>
      <%= render 'shipper_shipments_list' %>
    <% else %>
      <div>
        <p>You have no shipments post-transit yet.</p>
      </div>
    <% end %>
  </div>
</div>
