<div>
  <h2>Confirm the shipment and Carriers for quotations</h2>
  <h3>Shipment</h3>
    <p>Shipment's ID: <%= @shipment.id %></p>
  <h3>Carriers</h3>
  <% @carriers_id.each do |id| %>
    <p>- Carrier's ID : <%= id %></p>
  <% end %>
</div>
