$border: 14px;
$borderFull: $border * 2;

#home section.carrier,
#home section.shipper,
#home section.user {
  min-height: 100vh;
}

// CATER FOR IE SINCE THE PARENT NEEDS A HEIGHT OF SOME FORM
section#sign_in.carrier {
  height: 1px;
}

section {
  &.carrier, &.shipper, &.user {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-height: calc(100vh - #{$navbar__height});
    padding: calc(#{$borderFull} * 1.25);
    // align-items: center;
    &.flexTop {
      justify-content: unset;
    }
    &.slimSmall {
      padding: calc(#{$borderFull} * 1.25) 26rem;
    }
    &.slimMedium {
      padding: calc(#{$borderFull} * 1.25) 36rem;
    }
    &.slimLarge {
      padding: calc(#{$borderFull} * 1.25) 46rem;
    }
    hr {
      border-top: 3px solid $color--sub;
      margin: calc(#{$borderFull} * 1.25) auto;
      width: 100%;
      &.simple {
        border-top: 1px solid $color--gray;
        margin: 0;
      }
    }
  }
}

section.carrier {
  border: $border solid $color--main;
}

section.shipper {
  background: repeating-linear-gradient( -45deg, $color--white, $color--white $border, $color--main $border, $color--main $borderFull);
  position: relative;
  z-index: 0;
  &:before {
    background-color: $color--white;
    content: "";
    display: block;
    height: calc(100% - #{$borderFull});
    left: $border;
    position: absolute;
    top: $border;
    width: calc(100% - #{$borderFull});
    z-index: -10;
  }
  &.container-fluid {  // Different padding from default due to bg method.
    padding: calc(#{$borderFull} * 1.75)  calc(#{$borderFull} * 7);
    &.slimSmall {
      padding: calc(#{$borderFull} * 1.75) calc(#{$borderFull} * 9.285);
    }
    &.slimMedium {
      padding: calc(#{$borderFull} * 1.75) calc(#{$borderFull} * 13.358);
    }
    &.slimLarge {
      padding: calc(#{$borderFull} * 1.75) calc(#{$borderFull} * 16.92857);
    }
  }
}