<div class="inputContainer">
  <h3>会社の説明</h3>

  <!-- 888 Make necessary settings for text area, min, max etc. -->
  <%= f.input :company_description,
    label: "会社の特徴などを詳しく荷主企業に伝えてみませんか？アカウント開設後に記入することも可能です。",
    input_html: {class: "fakeTextArea"} %>

</div>