<div class="inputContainer">
  <h3>会社の説明</h3>

  <%= f.input :company_description,
    label: "会社の特徴などを詳しく荷主企業に伝えてみませんか？アカウント開設後に記入することも可能です。",
    input_html: { class:"textArea", maxLength:160 } %>

</div>