<div class="inputContainer">
  <h3>会社の強み</h3>

  <div class="wordCountContainer">
    <%= f.input :strength_1,
      label: "会社の強み・1（例：丁寧な梱包と時間通りの運送！）",
      input_html:{
        id:"carrier_strength_1",
        autocomplete:"none",
        maxLength:40,
        "data-wordcounter":"true"
        },
      required: true %>
    <span class="carrier_strength_1">残り40文字</span>
  </div>

  <div class="wordCountContainer">
    <%= f.input :strength_2,
      label: "会社の強み・2（例：急な納品や引き取りにも対応いたします！）",
      input_html:{
        id:"carrier_strength_2",
        autocomplete:"none",
        maxLength:40,
        "data-wordcounter":"true"
        },
      required: true %>
    <span class="carrier_strength_2">残り40文字</span>
  </div>

</div>