<div class="inputContainer noMargin">
  <h3>以下の資料が手元にあると入力がスムーズに行えます</h3>
  <ul class="points">
    <li><i class="fas fa-hand-point-right fasColor fasLg"></i>会社の基本情報（設立日、資本金、社員数、など）</li>
    <li><i class="fas fa-hand-point-right fasColor fasLg"></i>保有車両情報（積載量、形状、仕様、など）</li>
  </ul>
</div>