<div class="inputContainer">
  <h3>会社の説明</h3>

  <!-- This needs to be updated as a textarea since there was no 'fake_textarea' -->
  <%= f.input :company_detail,
    as: :fake,
    label: "会社の特徴などを詳しく荷主企業に伝えてみませんか？アカウント開設後に記入することも可能です。",
    input_html: {class: "fakeTextArea"} %>

</div>