<div class="inputContainer">
  <h3>会社の説明と写真</h3>

  <div class="wordCountContainer">
    <%= f.input :company_description,
      label: "会社の特徴や雰囲気を詳しく荷主企業に伝えてみましょう。こちらはアカウント開設後に記入することも可能です。",
      input_html:{
        class:"textArea",
        maxLength:160,
        "data-wordcounter":"true"
        } %>
    <span class="carrier_company_description">残り160文字</span>
  </div>

  <%= f.input :photo,
    label: false,
    as: :attachinary,
    input_html:{ class:"" } %>

</div>