<div class="pickup__form nested-fields fields-row debug">
  <div class='form-inline'>
    <%= f.input :size, label: "車両サイズ", collection: Vehicle::SIZES, prompt: "選択してください", required: true %>
    <%#= f.input :size, label: "車両サイズ", collection: Vehicle::SIZES, selected: Vehicle::SIZES[2], required: true %>
    <%= f.input :vehicle_type, label: "車両形状", collection: Vehicle::VEHICLE_TYPES, prompt: "選択してください", required: true %>
    <%#= f.input :vehicle_type, label: "車両形状", collection: Vehicle::VEHICLE_TYPES, selected: Vehicle::VEHICLE_TYPES[0], required: true %>
    <%= f.input :quantity, label: "車両数", required: true %>
  </div>
  <%= link_to_remove_association '保有車両を削除する', f, class: 'btn btn-primary btn__null btn__form--remove-nested' %>
</div>
