<section id="landing--shipper" class="shipper">
  <div class="landingWrapper">

    <div class="landingContainer">
      <h1>荷物を送りたい</h1>
      <p>物流の主な機能として、輸送・配送の他、保管・荷役(にやく)・包装・流通加工・物流情報処理がある。その中でも、輸送・保管・荷役・包装・流通加工は「物流5大機能」と言われる。</p>
      <a class="btn btnNull btnTriangle btnSubColor btnRounded" href="#landingQueryForm" role="button" data-animateScroll="true">運送会社を探す</a>

    </div>

    <div class="landingContainer imgBox hidden-xs">
      <%= inline_svg "00_shipper_set.svg", class: "imgFlipX" %>
    </div>

  </div>
</section>