<div class="landing--center">
  <div class="img__box--horizontal">
    <%= inline_svg "00_carrier_set.svg", class: "" %>
    <%= inline_svg "00_shipper_set.svg", class: "" %>
  </div>
  <div>
    <h2>荷物を運びたい会社<span class="color__sub">と</span><br>荷物を送りたい会社<span class="color__sub">を</span><br>マッチング<span class="color__sub">します</span></h2>
  </div>
</div>

<div>
  <a class="btn btn-primary btn__null btn__triangle" href="#landing--description" role="button">詳しく知りたい</a>
</div>