<section id="landing--carrier" class="carrier">
  <div class="landingWrapper">

    <div class="landingContainer">
      <h1>運送会社様募集中</h1>
      <p>トランスロードは、荷主企業が送りたい品物にマッチする運送会社をご紹介するサービスです。運送会社の登録料、使用料はありません。登録が完了したらすぐに、マッチする荷主企業にご紹介できる流れとなっております。</p>
      <%= link_to "無料で登録する", new_carrier_registration_path, class: "btn btnNull btnLarge" %>
      <span class="txtTempAlert">現在はパソコンのみからの<br class="visible-xs">ご登録となっております</span>
    </div>

    <div class="landingContainer imgBox hidden-xs">
      <%= inline_svg "00_shipper_set.svg", class: "imgFlipX"  %>
      <%= inline_svg "00_carrier_set.svg", class: "imgFlipX"  %>
    </div>

  </div>
</section>