<div class="navbar navbar-default landing--navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#landing--navbar--collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand--wordmark" href="#">TransRoad</a>
    </div>

    <div id="landing--navbar--collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#landing--carrier" data-animateScroll="true">運送会社様募集中</a>
        </li>
        <li>
          <%= link_to "ログイン", new_carrier_session_path, class: "" %>
        </li>
        <li>
          <%= link_to "新規登録", new_carrier_registration_path, class: "" %>
        </li>
      </ul>
    </div>

  </div>
</div>