<div class="landing--center">
  <div class="imgBox imgFlipX">
    <%= inline_svg "00_carrier_set.svg" %>
    <%= inline_svg "00_shipper_set.svg" %>
  </div>
  <div>
    <h1>荷物を送りたい会社と<br>荷物を運びたい会社を<br>マッチングします</h1>
  </div>
</div>

<div>
  <a class="btn btnNull btnLarge btnTriangle btnSubColor btnRounded" href="#carrierQuery" role="button" data-animateScroll="true">運送会社を探す</a>
</div>