<div class="navbar navbar-default landing--navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#landing--navbar--collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand--wordmark" href="#">TransRoad</a>
    </div>

    <div id="landing--navbar--collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#landing--carrier">荷物を運びたい</a></li>
        <li><a href="#landing--shipper">荷物を送りたい</a></li>
        <li class="sub-list--parent">
          <a href="#">ログインする</a>
          <ul class="sub-list--child">
            <li><%= link_to "運送会社", new_carrier_session_path, class: "" %></li>
            <% if false %><li><%= link_to "荷主会社", new_shipper_session_path, class: "" %></li><% end %>
          </ul>
        </li>
        <li class="sub-list--parent">
          <a href="#">新規登録する</a>
          <ul class="sub-list--child">
            <li><%= link_to "運送会社", new_carrier_registration_path, class: "" %></li>
            <% if false %><li><%= link_to "荷主会社", new_shipper_registration_path, class: "" %></li><% end %>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>