<div class="landing--center">
  <div class="img__box--horizontal">
    <%= inline_svg "00_carrier_set.svg" %>
    <%= inline_svg "00_shipper_set.svg" %>
  </div>
  <div>
    <h1>荷物を運びたい会社と<br>荷物を送りたい会社を<br>マッチングします</h1>
  </div>
</div>

<div>
  <a class="btn btnNull btnTriangle" href="#landing--description" role="button">詳しく知りたい</a>
</div>