<div class="landingCenter">

  <div class="landingContainer">
    <h2>トランスロードでは、<br>送りたい品物に<br class="visible-xs">マッチする運送会社を</h2>
    <ul class="points">
      <li><h1><i class="fas fa-check fasColor"></i>無料で</h1></li>
      <li><h1><i class="fas fa-check fasColor"></i>すぐに探せて</h1></li>
      <li><h1><i class="fas fa-check fasColor"></i>簡単に見れて</h1></li>
      <li><h1><i class="fas fa-check fasColor"></i>連絡ができる</h1></li>
    </ul>
    <a class="btn btnNull btnTriangle btnSubColor btnLarge btnRounded" href="#carrierQuery" role="button" data-animateScroll="true">運送会社を探す</a>
  </div>

  <div class="landingContainer hidden-xs">
    <%= inline_svg "00_transroad_users.svg" %>
  </div>

</div>