<section id="landing--carrier" class="carrier">
  <div class="landingWrapper">

    <div class="landingContainer">
      <h1>運送会社の登録</h1>
      <p>トランスロードは荷主企業がが送りたい品物に合った運送会社を簡単に探すことができるサービスです。</p>
      <p>運送会社は無料で簡単に登録することができ、登録後すぐにマッチする荷主企業にご紹介できる流れとなっております。運送協力会社を探しにも活用することができますので、ぜひご利用ください。</p>
      <%= link_to "無料で登録する", new_carrier_registration_path, class: "btn btnNull btnLarge" %>
      <span class="txtTempAlert">現在はパソコンのみからの<br class="visible-xs">ご登録となっております</span>
    </div>

    <div class="landingContainer imgBox hidden-xs">
      <%= inline_svg "00_shipper_set.svg", class: "imgFlipX"  %>
      <%= inline_svg "00_carrier_set.svg", class: "imgFlipX"  %>
    </div>

  </div>
</section>