<div id="landingDescriptionOne" class="fullscreen">
  <div class="row">
    <h1 class="col-12-xs text-center">トランスロードは品物に合ったマッチングをお届けします</h1>
  </div>
  <div class="row descriptionImgContainer">
    <div class="col-xs-4 text-center">
      <%= inline_svg "description_01.svg" %>
      <h2>品物、集荷先、配送先を入力する</h1>
    </div>
    <div class="col-xs-4 text-center">
      <%= inline_svg "description_02.svg" %>
      <h2>運送業者とマッチします</h2>
    </div>
    <div class="col-xs-4 text-center">
      <%= inline_svg "description_03.svg" %>
      <h2>あとは選んで連絡するだけ</h2>
    </div>
  </div>
</div>