<section id="landing--carrier" class="carrier">
  <div class="row">
    <p class="carrierPointTitle col-xs-12 text-center">トランスロードの強み</p>
  </div>
  <div class="row">
    <div>
      <p class="carrierPoint underline">配送が得意な品物で荷主企業と</p><br>
      <p class="carrierPoint underline">マッチング</p><p class="carrierPoint">するので、それぞれの</p><br>
      <p class="carrierPoint">運送会社の強みが活かせます。</p>
    </div>
    <%= inline_svg "carrier_01.svg" %>
  </div>
  <div class="row">
    <%= inline_svg "carrier_02.svg" %>
    <div>
      <p class="carrierPoint underline">無料で登録</p><p class="carrierPoint ">することができ、</p><br>
      <p class="carrierPoint underline">月額費用もありません。</p>
    </div>
  </div>
  <div class="row">
    <div>
      <p class="carrierPoint underline">協力会社をお探しの際にも</p><br>
      <p class="carrierPoint underline">活用することができますので、</p><br>
      <p class="carrierPoint">ぜひお試しください。</p>
    </div>
    <%= inline_svg "carrier_03.svg" %>
  </div>
</section>
<div class="carrierCTA">
  <%= link_to "無料で登録する", new_carrier_registration_path, class: "btn btnNull btnLargeWide btnSubColor btnRounded" %>
  <span class="txtTempAlert">現在はパソコンのみからの<br class="visible-xs">ご登録となっております</span>
</div>