<div class="deals--row">
  <div class="deals--header"></div>
  <div class="deals--header"><p>運送予定期間</p></div>
  <div class="deals--header"><p>運送頻度</p></div>
  <div class="deals--header"><p>荷物の種類</p></div>
  <div class="deals--header"><p>集荷先</p></div>
  <div class="deals--header"><p>配送先</p></div>
  <div class="deals--header"><p>往復距離&ensp;<i class="fa fa-question-circle" aria-hidden="true"></i></p></div>
</div>