<div id='modalDeal<%= d[:deal].id %>' class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "modal_sidebar", shipment: shipment, pickup: pickup, delivery: delivery %>
      <%= render "modal_details", d: d, shipment: shipment, pickup: pickup, delivery: delivery %>
    </div>
  </div>
</div>