<div class="modalMainBtnContainer">
  <%#= link_to '依頼主に質問', '#', class: 'btn btn-primary btn__null btn__size--sm col-xs-3' %>
  <!-- path to new new quotation? -->
  <%= link_to '見積書を作成', new_quote_path(d[:deal].id), class: 'btn btn-primary btn__null btn__size--sm btn__width--100' %>
</div>