<div class="modal--details">
  <%= render "modal_details_pickup", shipment: shipment, pickup: pickup %>
  <hr class="simple">
  <%= render "modal_details_delivery", d: d, shipment: shipment, delivery: delivery %>
  <hr class="simple">
  <%= render "modal_details_buttonCase", d: d %>
</div>