<section id="carrier__quote" class="container-fluid section__carrier well--xs">
  <div class="row">

    <div class="col-md-4 col-lg4 debug">
      <%= render "quote_form_left" %>
    </div>

    <div class="col-md-8 col-lg-8 debug">
      <!-- IF quotation exists -->
      <% if params[:action] == 'confirm' %>
        <%= render "quote_form_right_confirm" %>
      <% else %>
      <!-- IF quotation DOES NOT exist -->
        <%= render "quote_form_right_make" %>
      <% end %>
    </div>

  </div>
</section>