<section id="carrier__quote" class="container-fluid carrier flexTop">
  <div class="quoteContainer">

    <div class="dashboardHeader">
      <% if params[:action] == 'confirm' %>
        <h2>見積書の内容確認</h2>
      <% else %>
        <h2>見積書を作成</h2>
      <% end %>
    </div>

    <%= render "quote_form_left" %>

    <% if params[:action] == 'confirm' %>
      <%= render "quote_form_right_confirm" %> <!-- IF quotation exists -->
    <% else %>
      <%= render "quote_form_right_make" %> <!-- IF quotation DOES NOT exist -->
    <% end %>

  </div>
</section>