<div class="wrapper-deals">
  <div class="container">
    <h2>(<%= @deals.count %>) Post-Transit</h2>
    <%= render 'deals_nav_menu' %>

    <% if @deals.present? %>
      <%= render 'deals_shipments_list' %>
    <% else %>
      <div>
        <p>You have no shipments post-transit yet.</p>
      </div>
    <% end %>
  </div>
</div>
