<div class="wrapper-deals">
  <div class="container">
    <h2>(<%= @deals.count %>) Pre-Transit</h2>
    <%= render 'deals_nav_menu' %>

    <% if @deals.present? %>
      <%= render 'deals_shipments_list' %>
    <% else %>
      <div>
        <p>You have no shipments yet.</p>
        <p>Find shippers who need your help!</p>
        <%= link_to shipments_path, class: "btn btn-primary" do %>
          Find New Shipments
        <% end %>
      </div>
    <% end %>

  </div>
</div>
