<p>いつもトランスロードをご利用いただきまして、誠にありがとうございます。</p>

<p>パスワードの再設定を受け付けました。</p>

<p>下記のリンクよりパスワードの再設定を行うことができます。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりない場合はメールを破棄していただくか、トランスロードにお問い合わせください。</p>

<p>
  ■ご登録情報■（マイページにログインする際に必要です）<br>
  [メールアドレス] <%= @resource.email %><br>
  [パスワード]（セキュリティのため非表示 ）<br>
</p>

<p>それでは、今後ともトランスロードをよろしくお願いいたします。</p>
