/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.alert--null {
  &.alert-danger {
    background-color: $red;
    border-radius: 0;
    border: none;
    margin: $spacer--sm 0;
    padding: $spacer--xs;
  }
}