// CSS CODE FOR FLASH NOTICES AND ALERTS
.alert {
  align-items: center;
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: $navbar__height;
  margin: 0 auto;
  padding: $spacer--xs;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  &-info {
    background: $green;
  }
  &-warning {
    background: $red;
  }
  &--null {
    &.alert-danger {
      color: $color--white;
      background-color: $red;
    }
  }
  button.close {
    color: $color--white;
    font-size: 42px;
    opacity: 0.6;
    position: absolute;
    right: 20px;
    top: -5px;
  }
  p {
    color: white;
    font-weight: bolder;
  }
}