%extBtnNull {
  background-color: $color__theme--main;
  border-radius: 1px;
  border: 0;
  box-shadow: $box-shadow--default;
  font-family: $font__body;
  font-size: $font__p;
  font-weight: bold;
  padding: 8px 16px;
  &:active {
    transform: translateY(2px);
    background-color: $color__theme--main;
    &:focus {
      background-color: darken($color__theme--main, 10%);
    }
  }
  &:focus {
    background-color: $color__theme--main;
  }
  &:hover {
    background-color: darken($color__theme--main, 10%);
  }
}
%extBtnTriangle {
  border-color: $color__theme--main transparent transparent transparent;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 0;
}
.btn__case {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  width:85%;
}
.btn__invert {
  background-color: $color--white;
  color: $color__theme--main;
  font-weight: bolder;
  &:active {
    background-color: $color--white;
    &:focus {
      background-color: $color--white;
      color: darken($color__theme--main, 15%);
    }
  }
  &:focus {
    background-color: $color--white;
    color: $color__theme--main;
  }
  &:hover {
    background-color: $color--white;
    color: darken($color__theme--main, 15%);
  }
}
.btn__null {
  @extend %extBtnNull;
  &.btn__sub-color {
    background-color: $color__theme--sub;
    &:active {
      transform: translateY(2px);
      background-color: $color__theme--sub;
      &:focus {
        background-color: darken($color__theme--sub, 10%);
      }
    }
    &:focus {
      background-color: $color__theme--sub;
    }
    &:hover {
      background-color: darken($color__theme--sub, 10%);
    }
  }
}
.btn__triangle {
  position: relative;
  &:before {
    @extend %extBtnTriangle;
    bottom: -14px;
  }
  &:after {
    @extend %extBtnTriangle;
    bottom: -30px;
  }
}
.btn__width--100 {
  width: 100%;
}

/*------------  md >= 992px (.container @ 970px)  ------------*/
@media (min-width: 992px) {
  .btn__case {
    max-width: 650px;
    width: 50%;
  }
  .btn__null {
    font-size: $font__btn--lg;
  }
}
/*------------ } @media (min-width: 992px) ------------*/