%extBtnTriangle {
  border-color: $color--sub transparent transparent transparent;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 0;
}

.btnCase {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .btnNull {
    margin-right: 3rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .btnCaseFlex {
    flex: 1;
  }
}

.btnNull {
  background-color: $color--main;
  border-radius: .3rem;
  border: 0;
  color: $color--white;
  font-family: $font__body;
  font-size: $font__p;
  font-weight: bold;
  padding: 0.6rem 3.5rem;
  &:active:focus, &:active, &:focus, &:hover {
    color: $color--white;
    outline: none;
  }
  &:active:focus, &:hover {
    background-color: darken($color--main, 10%);
  }
  &:active, &:focus {
    background-color: $color--main;
  }
  &:active {
    transform: translateY(2px);
  }
}

.btnSmall {
  font-size: 1.6rem;
  padding: 4px 12px;
}

.btnRounded {
  border-radius: 50px;
}

.btnSubColor {
  background-color: $color--sub;
  &:active {
    transform: translateY(2px);
    background-color: $color--sub;
    &:focus {
      background-color: darken($color--sub, 10%);
    }
  }
  &:focus {
    background-color: $color--sub;
  }
  &:hover {
    background-color: darken($color--sub, 10%);
  }
}

.btnLightGrayColor {
  background-color: $color--lightgray;
  &:active {
    transform: translateY(2px);
    background-color: $color--lightgray;
    &:focus {
      background-color: darken($color--lightgray, 10%);
    }
  }
  &:focus {
    background-color: $color--lightgray;
  }
  &:hover {
    background-color: darken($color--lightgray, 10%);
  }
}

.btnAddNestForm {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  float: right;
  padding: 0.3rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
}

.remove_fields {
  margin-left: auto;
  .btnRemoveNestForm {
    color: $red;
    font-size: 2.4rem;
    &:hover {
      color: darken($red, 10%);
    }
  }
}

.btnTriangle {
  position: relative;
  &:before {
    @extend %extBtnTriangle;
    bottom: -14px;
  }
  &:after {
    @extend %extBtnTriangle;
    bottom: -30px;
  }
}

.btnWidth100 {
  width: 100%;
}

.landingBtnCase {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 260px;
  width:85%;
}



/*------------  md >= 992px (.container @ 970px)  ------------*/
@media (min-width: 992px) {
  .landingBtnCase {
    max-width: 650px;
    width: 50%;
  }
  .btnLarge {
    font-size: 2.1rem;
    padding: 0.35em 6em 0.25em 6em;
  }
}
/*------------ } @media (min-width: 992px) ------------*/