$color__card-selected: #FFFCE2;
@keyframes scale {
  0% {transform: scale(1, 1);}
  33% {transform: scale(1.2, 1.2);}
  66% {transform: scale(0.8, 0.8);}
  100% {transform: scale(1, 1);}
}
#cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 -30px 0 -30px;
  .card__wrapper {
    padding: 0 15px 30px 15px;
    width: 25%;
    // &.active {
    //   position: relative;
    //   width: 50%;
    //   .card__carrier {
    //     &--img {
    //       padding-top: 30.9%;
    //       position: absolute;
    //       right: 30px;
    //       width: calc(50% - 30px);
    //     }
    //     .card__list--container {
    //       .card__list--item {

    //       }
    //     }
    //     .card__carrier--info {
    //       display: inline-block;
    //       left: calc(50% + 15px);
    //       position: absolute;
    //     }
    //     .card__btn {

    //     }
    //   }
    // }
    .card__carrier {
      background-color: $color--white;
      border-radius: $border-radius;
      box-shadow: $box-shadow--default;
      padding: 15px;
      &:hover {
        box-shadow: $box-shadow--hover;
        transform: translateY(-4px);
      }
      &.selected {
        background-color: $color__card-selected;
        position: relative;
        &::after {
          background-color: $color__theme--sub;
          border-radius: 500px;
          box-shadow: $box-shadow--default;
          color: $color--white;
          content: "\f00c";
          display: inline-block;
          font-family: FontAwesome;
          font-size: 20px;
          height: 30px;
          line-height: 30px;
          position: absolute;
          right: -15px;
          text-align: center;
          top: -15px;
          width: 30px;
          animation: scale $transition--sm ease;
        }
        .card__btn {
          background-color: $color__theme--sub;
        }
      }
      &--img {
        background-color: $color--gray-light;
        border-radius: calc(#{$border-radius} / 2);
        max-height: 160px;
        padding-top: 61.8%;
        margin-bottom: 18px;
      }
      h4{
        margin-bottom: 6px;
      }
      .card__list--container {
        list-style-type: disc;
        margin-bottom: 12px;
        padding-left: 18px;
        .card__list--item {
          font-size: $font__p;
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .card__carrier--info {
        border-top: 1px solid $color--gray-light;
        padding-top: 12px;
        p {
          font-size: 14px;
          line-height: 1.35;
        }
      }
      .card__btn {
        box-shadow: none;
        font-size: 1.4rem;
        margin-top: 10px;
        padding: 4px;
        width: 100%;
      }
    }
  }
}