$color__card-selected: #FFFCE2;

@keyframes scale {
  0% {transform: scale(1, 1);}
  33% {transform: scale(1.2, 1.2);}
  66% {transform: scale(0.8, 0.8);}
  100% {transform: scale(1, 1);}
}

#queryResults .cardContainer,
#queryResults .cardContainer div {
  display: flex;
  // width: 23.5%;
  // &:nth-child(3n) {
  //   margin: 0 2% 2% 0;
  // }
  // &:nth-child(4n) {
  //   margin: 0 0 2% 0;
  // }
}

.cardsContainer { // Plural
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.cardContainer {  // Singular
  // background-color: $color--white;
  // border-radius: $border-radius;
  // box-shadow: $card-shadow--default;
  padding: 1.5rem 0;
  width: 100%;
  border-top: 1px solid $color--lightgray;
  border-bottom: 1px solid $color--lightgray;
  &:hover {
  }
  h4{
    margin-bottom: 0.5rem;
  }
}

// VER 1
// .cardContainer {  // Singular
//   background-color: $color--white;
//   border-radius: $border-radius;
//   box-shadow: $card-shadow--default;
//   padding: 0 15px 30px 15px;
//   padding: 15px;
//   width: 32%;
//   margin: 0 2% 2% 0;
//   &:nth-child(3n) {
//     margin: 0 0 2% 0;
//   }
//   &:hover {
//     box-shadow: $card-shadow--hover;
//     transform: scale(1.02);
//   }
//   h4{
//     margin-bottom: 0.5rem;
//   }
// }

.cardLinkContainer {
  border-top: 1px solid $color--lightgray;
  padding-top: 12px;
  margin-top: 12px;
  font-size: $font__p;
  .cardLink {
    color: $color--lightgray;
  }
}

.cardListContainer {
  list-style-type: disc;
  margin-bottom: 1rem;
  padding-left: 18px;
  .cardListItem {
    font-size: $font__p;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cardCarrierInfo {
  flex-direction: column;
  // border-top: 1px solid $color--lightgray;
  // padding-top: 12px;
  p {
    // font-size: 14px;
    // line-height: 1.35;
  }
}

.cardBtn {
  box-shadow: none;
  font-size: 1.4rem;
  margin: 10px 0 0 0;
  padding: 4px;
  width: 100%;
}

.cardContainer.selected {
  background-color: $color__card-selected;
  position: relative;
  &::after {
    animation: scale $transition--sm ease;
    background-color: $color--sub;
    border-radius: 500px;
    box-shadow: $box-shadow--default;
    color: $color--white;
    content: "\f00c";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 30px;
  }
}

.cardBtn {
  background-color: $color--sub;
}

.carrierImg {
  background-color: $color--lightgray;
  border-radius: calc(#{$border-radius} / 2);
  margin-right: 1.5rem;
  width: 190px;
  height: 120px;
}

// #shipperDashboard {
//   .cardListItem {
//     &.mailNew, &.mail--opened, &.mail--waiting {
//       position: relative;
//       &:before {
//         font-family: FontAwesome;
//         font-size: 1.8rem;
//         position: absolute;
//         left: -24px;
//         top: -2px;
//       }
//     }
//     &.mailNew {
//       font-weight: bolder;
//       &:before {
//         color: $color--sub;
//         content: "\f0e0";
//         font-weight: normal;
//       }
//     }
//     &.mail--opened:before {
//       color: $color--gray;
//       content: "\f2b6";
//     }
//     &.mail--waiting:before {
//       color: $color--lightgray;
//       content: "\f0e0";
//     }
//   }
// }