.footer {
  letter-spacing: 0.025em;
  align-items: center;
  background: $color--white;
  color: $color--main;
  display: flex;
  height: $footer__height;
  justify-content: space-between;
  max-width: 100vw;
  padding: 4px 16px 0 16px;
  width: 100%;
  p {
    font-size: 1.2rem;
  }
  p:nth-child(2) {
    font-weight: bolder;
    font-size: 1.4rem;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", sans-serif;
  }
}