input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.companyStrengthsContainer {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  .col-fifth {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 16%;
    &:last-child {
      margin-right: unset;
    }
    div {
      width: 100%;
    }
    svg {
      margin-bottom: 1.25rem;
    }
    label {
      justify-content: center;
    }
  }
}

.form-control {
  box-shadow: none;
  color: $color--darkgray;
}

.form-group {
  margin-bottom: 1.6rem;
}

.form--required {
  border: 0 !important;
  color: $color--main;
  font-size: 1.2rem;
  text-decoration: none;
}

.inputGroup {
  padding: 0;
  .row--block {
    justify-content: left;
  }
}

.inputContainer {
  margin: 0 0 80px 0;
  &:first-child {
    margin-top: 40px;
  }
  &:only-child {
    margin: 0;
  }
  h3 {
    font-weight: bold;
    margin: 0 0 12px 0;
  }
  img {
    border-radius: 0.25rem;
    box-shadow: $box-shadow--image;
    margin: 3%;
    width: 94%;
  }
}

.label__append--text {
  float: right;
  a {
    font-size: 1.2rem;
  }
}

.label--null {
  align-items: flex-end;
  color: $color--gray;
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  justify-content: space-between;
  width: 100%;
  &.label__append--container {
    width: unset;
  }
}

#carrier_favorite_products--container {
  div.checkbox--container {
    height: unset;
    margin: 0;
    padding: 11px 18px 12px 18px;
    span.checkbox {
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 4px 0 0 0;
      width: 100px;
      input {
        margin: 0 0 0 -15px;
      }
      label {
        line-height: 1;
        min-height: unset;
        padding: 0;
        &.disabled {
          color: $color--lightgray;
        }
      }
    }
  }
}

// #shipper__quotation {
  // #shipper_quotation_form {
    // padding-left: 0;
    // padding-right: 0;
  // }
  // .quotation__body--container {
    // h4 {
    //   margin: 0 0 $spacer--xs 0;
    // }
    // .btn__null {
    //   margin: $spacer--sm $spacer--sm $spacer--sm 0;
    // }
    // .quotation__block {
    //   border-bottom: 1px solid $color--lightgray;
    //   padding: 0 0 15px 0;
    //   margin: 0 0 15px 0;
    //   &:last-child {
    //     border-bottom: 0;
    //   }
    // }
    // .quotation__product {
    //   div {
    //     margin: 0 0 15px 0;
    //   }
    // }
  // }
  // .quotation__header--container {
  //   align-items: flex-end;
  //   display: flex;
  //   justify-content: space-between;
  //   padding: 0 0 $spacer--sm 0;
  //   h2 {
  //     line-height: unset;
  //   }
  // }
// }

#sign_in {
  .checkbox label {
    font-size: 1.2rem;
    input {
      margin: 0 0 0 -20px;
    }
  }
}