#carrier__registration,
#forgot_password,
#new__shipment,
#shipper__registration,
#sign_in {
  h2, h3 {
    margin: 0 0 40px 0;
  }
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset;
  }
  .form {
    &-actions {
      // margin-bottom: 80px;
    }
    &-group {
      margin-bottom: 20px;
    }
    &--required {
      background-color: $color__theme--sub;
      border-radius: 2px;
      border: 0 !important;
      color: $color--white;
      float: right;
      font-size: 1.2rem;
      padding: 4px 5px 3px 5px;
      text-decoration: none;
      transform: translateY(-5px) translateX(-50%);
      position: absolute;
      right: -2px;
    }
  }
  .input--container {
    padding: 0;
    .row--block {
      justify-content: left;
    }
  }
  .input--group {
    margin: 0 0 80px 0;
    &:only-child {
      margin: 0;
    }
    h3 {
      font-weight: bold;
      margin: 0 0 12px 0;
    }
  }
  .label--null {
    color: $color--gray;
    font-weight: normal;
    padding: 0 0 5px 0;
    width: 100%;
    &.label__append--container {
      width: unset;
    }
  }
  .label__append--text{
    float: right;
    a {
      font-size: 1.2rem;
    }
  }
}
#carrier_favorite_products--container {
  div.checkbox--container {
    height: unset;
    margin: 0;
    padding: 11px 18px 12px 18px;
    span.checkbox {
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 4px 0 0 0;
      width: 100px;
      input {
        margin: 0 0 0 -15px;
      }
      label {
        line-height: 1;
        min-height: unset;
        padding: 0;
        &.disabled {
          color: $color--gray-light;
        }
      }
    }
  }
  label.control-label {
    display: block;
  }
}
#shipper__quotation {
  .quotation__body--container {
    h4 {
      margin: 0 0 $spacer--xs 0;
    }
    .quotation__block {
      border-bottom: 1px solid $color--gray-light;
      padding: 0 0 15px 0;
      margin: 0 0 15px 0;
      &:last-child {
        border-bottom: 0;
      }
    }
    .quotation__product {
      div {
        margin: 0 0 15px 0;
      }
    }
  }
  .quotation__header--container {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 0 $spacer--sm 0;
    h2 {
      line-height: unset;
    }
  }
}
#shipper_quotation_form {
  padding-left: 0;
  padding-right: 0;
}
#sign_in {
  .checkbox label {
    font-size: 1.2rem;
    input {
      margin: 0 0 0 -20px;
    }
  }
}
.form-control {
  box-shadow: none;
  color: $color--gray-dark;
}