#carrier_email {
  font-size: 2rem;
  padding: 0.45em 0.65em 0.25em 0.65em;
  height: auto;
  letter-spacing: 0.025em;
}

#carrier_favorite_products--container {
  div.checkbox--container {
    height: unset;
    margin: 0;
    padding: 11px 18px 12px 18px;
    span.checkbox {
      display: inline-block;
      margin: 0 0 0 15px;
      padding: 4px 0 0 0;
      width: 100px;
      input {
        margin: 0 0 0 -15px;
      }
      label {
        line-height: 1;
        min-height: unset;
        padding: 0;
        &.disabled {
          color: $color--lightgray;
        }
      }
    }
  }
}

#sign_in {
  .checkbox label {
    font-size: 1.2rem;
    input {
      margin: 0 0 0 -20px;
    }
  }
}

span[data-name="foundedDateError"] {
  font-size: 1.2rem;
  color: $red;
  margin-top: 0.5em;
}

div[data-name="founded_date"] {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  div:first-child {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    label {
      margin-bottom: 0.6em;
      flex: 1 100%;
      width: auto;
    }
    div {
      display: flex;
    }
  }
  p {
    display: flex;
    align-items: center;
    line-height: 0;
    + p {
      margin-left: 1em;
    }
  }
  span[data-type="pseudoRadio"] {
    border: 1px solid $color--lightgray;
    height: 1em;
    border-radius: 50px;
    width: 1em;
    margin: 0 0.1em 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &.checked {
      background-color: $color--main;
      border: 1px solid $color--main;
      &:before {
        background-color: $color--white;
        display: inline-block;
        content: '';
        height: 0.5em;
        border-radius: 50px;
        width: 0.5em;
      }
    }
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

label[for="carrier_company_description"] {
  width: 28em;
}

.cRegistWrapper {
  display: flex;
  overflow: hidden;
  section.carrier {
    background-color: $color--white;
    flex: 1 100%;
    min-width: 100%;
    transition-duration: $transition--lg;
    &[data-name="inputBlock2"] {
      z-index: 10;
      height: 0;
      transform: translateX(0);
      &.inView {
        height: 100%;
        transform: translateX(-100%);
      }
    }
  }
}

.form-control {
  box-shadow: none;
  color: $color--darkgray;
}

.form-group {
  margin-bottom: 2rem;
}

.form--required {
  border: 0 !important;
  color: $color--main;
  font-size: 1.2rem;
  text-decoration: none;
}

.inputGroup {
  padding: 0;
  .row--block {
    justify-content: left;
  }
}

.inputContainer {
  margin: 60px 0 60px 0;
  &:first-child {
    margin-top: 30px;
  }
  &:only-child {
    margin: 0;
  }
  &.noMargin {
    margin: 0;
  }
  h3 {
    margin: 0 0 0.75em 0;
    font-weight: bold;
  }
  img {
    border-radius: 0.25rem;
    box-shadow: $box-shadow--image;
    margin: 3%;
    width: 94%;
  }
}

.label__append--text {
  float: right;
  a {
    font-size: 1.2rem;
  }
}

.label--null {
  align-items: flex-end;
  color: $color--gray;
  display: flex;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
  justify-content: space-between;
  width: 100%;
  &.label__append--container {
    width: unset;
  }
}

.multiInputContainer {
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  .col-fifth {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 16%;
    &:last-child {
      margin-right: unset;
    }
    div {
      width: 100%;
    }
    svg {
      margin-bottom: 1.25rem;
    }
    label {
      justify-content: center;
    }
  }
}

.fields-row .multiInputContainer {
  display: flex;
  margin-top: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  .col-fifth-vehic {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    width: 18%;
    margin-right: 1%;
    &:last-child {
      margin-right: unset;
    }
  }
}

.nested-fields.fields-row {
  border-top: 1px solid $color--lightgray;
  &:last-child {
    border-bottom: 1px solid $color--lightgray;
  }
}

.prefectureFormPadding {
  margin-bottom: 180px;
}

.strengthsAlert {
  opacity: 0;
  font-size: 1.4rem;
  color: $red;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

.textArea {
  height: 12rem;
  max-height: 14em;
  min-height: 10em;
  padding: 0.75em;
  resize: none;
  width: 35em;
}

.wordCountContainer {
  position: relative;
  span {
    display: inline-block;
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    color: $color--gray;
    padding: 0.25em 0.5em;
    right: 0;
    &.carrier_company_description {
      right: calc(100% - 35em);
    }
  }
}