$modalHeight: 90vh;
$modalWidth: 85vw;

div[id^=modalDeal] {

  // MODAL CLASS LIST
  h4 {
    margin: 0 0 $spacer--xs 0;
  }
  .modalDialog {
    height: $modalHeight;
    margin: calc((100vh - #{$modalHeight}) / 2) auto;
    width: $modalWidth;
  }
  .modalContent {
    background-color: $color--white;
    border-radius: $border-radius;
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  // SIDEBAR SECTION CLASS LIST
  .modalSidebar {
    display: inline-block;
    height: 100%;
    width: calc(#{$modalHeight} / 2);
  }
  .modalSummary {
    background-color: $color--main;
    height: calc(#{$modalHeight} / 2);
    padding: $spacer--sm;
    h4,p {
      color: $color--white;
    }
    p {
      margin: 0 0 5px 0;
    }
  }
  .modalMap {
    height: calc(#{$modalHeight} / 2);
    background-image: url(image_path('dummy_map'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
  }

  // MAIN SECTION CLASS LIST
  .modalMainPickup, .modalMainDelivery, .modalMainBtnContainer {
    width: 100%;
  }
  .modalMain {
    display: inline-block;
    flex-grow: 1;
    padding: $spacer--sm;
    i {
      font-size: 2.8rem;
    }
  }
  .modalMainPickupContainer {
    width: 100%;
    .modalMainPickupBlock {
      width: 33.333333%;
    }
  }
  .modalMainDeliveryContainer {
    display: flex;
    div {
      flex-grow: 1;
    }
  }
}