#navigation__bar {
  background: $color--white--transparent;
  box-shadow: $box-shadow--default;
  display: flex;
  height: $navbar__height;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1000;
  #mobile--dropdown.navbar--item, #desktop--dropdown.navbar--item {
    cursor: pointer;
    padding: 11px 11px 0 0;
    .dropdown {
      position: static;
      &--menu {
        margin: 0;
        padding: 7.5px 0;
        width: 100vw;
        background-color: $color--white--transparent;
        box-shadow: none;
        box-shadow: $box-shadow--default;
        border: 0;
        border-top: 1px solid transparent;
        &:before {
          content: none;
        }
      }
      .fa-bars {
        font-size: 2.4rem;
        color: $color--main;
      }
    }
  }
  a, p, ul.sub-list li {
    color: $color--gray;
    // font-size: $font__p;
    line-height: 1;
    padding: 15px 13px;
  }
  li {
    list-style: none;
  }
  .brand--wordmark {
    font-size: 2.4rem;
    letter-spacing: -0.5px;
    padding: 11px 0 0 10px;
  }
  .user__name {
    color: $color--black;
    font-size: 1.4rem;
    padding: 10px 13px;
  }
  .user__date {
    float: right;
  }
}

/*------------  md >= 992px (.container @ 970px)  ------------*/
@media (min-width: 992px) {
  #navigation__bar {
    padding: 0 $spacer--sm;
    // START / AVATAR MENU
    #avatar__navbar {
      background-color: $color--sub;
      border-radius: $border-radius;
      border: 0;
      box-shadow: $box-shadow--default;
      margin: 0;
      padding: 4px 0;
      right: -15px;
      top: 64px;
      &:before {
        background-color: $color--sub;
        border-left: 1px solid $color--sub;
        border-radius: $border-radius;
        border-top: 1px solid $color--sub;
        content: " ";
        height: 40px;
        position: absolute;
        right: 10px;
        top: -16px;
        transform: scaleX(0.4) rotate(45deg);
        width: 40px;
      }
      li {
        padding: 14px 18px 2px 18px;
        &:last-child {
          padding-bottom: 14px;
        }
        &:hover {
          background-color: $color--sub;
          text-decoration: underline;
        }
        a {
          color: $color--white;
          font-weight: bolder;
          padding: 0 0 0 0;
          &:hover {
            background-color: $color--sub;
          }
        }
      }
    }
    // END / AVATAR MENU
    #desktop--dropdown {
      .avatar {
        color: $color--sub;
        font-size: 30px;
        padding: 8px 0 8px 16px;
      }
      .dropdown {
        height: 100%;
      }
    }
    div.dropdown.open > #avatar__navbar {
      display: block !important;
    }
    // START / NAVBAR RIGHT-SIDE MENU
    .navbar--right {
      ul {
        // align-items: normal;
        display: flex;
        &:last-child > p {
          padding: 10px 0  10px 13px;
        }
        &.dropdown-menu {
          display: none;
        }
        &.sub-list {
          background-color: $color--main;
          box-shadow: $box-shadow--default;
          display: none;
          margin-top: 8px;
          padding: 0;
          a {
            padding: 0;
            li {
              color: $color--white;
              padding: 14px 13px;
            }
          }
        }
        li {
          padding: 14px 0;
          &:hover {
            background-color: $color--main;
            max-height: $navbar__height;
            a {
              color: $color--white;
              font-weight: bold;
              &:hover {
                text-decoration: none;
              }
            }
            ul.sub-list {
              display: block;
              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    // END / NAVBAR RIGHT-SIDE MENU
    .user__name {
      float: left;
      font-size: $font__p;
    }
  }
}
/*------------ } @media (min-width: 992px) ------------*/