table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1.4rem;
  border: 1px solid $color--main;
  text-align: center;
  border-radius: $border-radius;
  width: 100%;
}

th, td {
  font-weight: normal;
  padding: 0.35em 0.5em;
  vertical-align: middle;
}

th {
  text-align: center;
  background-color: $color--main;
  color: $color--white;
  &:nth-child(1) {
    width: 7em;
  }
  &:nth-child(1) {
    border-top-left-radius: calc(#{$border-radius} - 2px);
  }
  &:nth-child(2) {
    width: auto;
  }
  &:nth-child(3) {
    width: 5em;
    border-top-right-radius: calc(#{$border-radius} - 2px);
  }
}

thead {
  border-upper-left-radius: $border-radius;
  border-upper-right-radius: $border-radius;
  th {
    letter-spacing: 0.1em;
    border-right: 1px dashed $color--lightgray;
    &:last-child {
      border-right: 0;
    }
  }
}

tbody {
  td {
    border-right: 1px dashed $color--lightgray;
    border-bottom: 1px solid $color--lightgray;
    &:nth-child(2) {
      text-align: left;
    }
    &:last-child {
      border-right: 0;
    }
  }
  tr:last-child td {
    border-bottom: 0;
  }
}