<section id="queryResults" class="container-fluid shipper">

  <div class="dashboardHeader">
    <div>
      <h2>運送会社を選択</h2>
      <p>マッチする運送会社が<%= @all_carriers_two_conditions.count %>社見つかりました！</p>
    </div>
  </div>

  <div class="dashboardBody">
    <div class="cardsContainer">
      <% @all_carriers_two_conditions.each do |carrier| %>
        <%= render 'carrierCard', carrier: carrier %>
      <% end %>
    </div>
  </div>

</section>



<!-- On click of Carrier card show more detail -->
<%= render partial: 'matchedCarriers_onClick', formats: :js %>